.container{
    border: solid !important;
    border-width: 0.5px !important;
    border-color: black;
    margin: 5px;
}

mat-card{
    margin-bottom: 5px;
}

table{
    width: 100%;
   }

.labelCenter {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

 .button-next{
    align-content:flex-end ;
 }

 .url1{
     width:75%;
 }

.spacing{
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;  
 }

 .divBorder{
    border-left: 2px solid red;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.728);
    margin-bottom: 0.5%
 }

